* {
    /* box-sizing: border-box; */
    box-sizing: content-box;
}

.hidden {
    display: none;
}


body {
    text-align: center;
    margin: 0 auto;

    background-color: whitesmoke;
}

table {
    margin: 0 auto;

    background-color: #bdbdbd;
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;

    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid #7d7d7d;
    border-right: 2px solid #7d7d7d;
}

td {
    color: transparent;

    background-color: #bdbdbd;

    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid #7d7d7d;
    border-right: 2px solid #7d7d7d;

    width: 24px;
    height: 24px;
}

td:hover {
    cursor: pointer;
}

.revealed {
    color: black;
    /* border: 2px solid #8a8a8a; */
    border-top: 2px solid #8a8a8a;
    border-left: 2px solid #8a8a8a;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    background-color: #eeeeee;
}

.footer {
    width: 100%;

    position: fixed;
    bottom: 0;

    padding-bottom: 10px;
}

div a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: darkblue;
    color: antiquewhite;
}

button {

    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid #7d7d7d;
    border-right: 2px solid #7d7d7d;

    width: 26px;
    height: 26px;

    /* margin-bottom: 5px; */

    padding: 0;
}

.flagged {
    color: black;
}

.first-mine {
    background-color: red;
}

.reset-button {
    margin: 15px 0;
}

/* .smiley-and-numbers {} */