* {
    box-sizing: border-box;
}


body,
table {
    text-align: center;
    margin: 0 auto;
}

table {
    background-color: darkgrey;
}

td {
    color: transparent;
    table-layout: fixed;
    padding: 20px;
    background-color: whitesmoke;
}

td:hover {
    cursor: pointer;
}

.revealed {
    color: black;
}

.footer {
    width: 100%;

    position: fixed;
    bottom: 0;

    padding-bottom: 10px;
}

div a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: darkblue;
    color: antiquewhite;
}

.reset-button {
    margin-bottom: 20px;
}